# Assignment 6 (DS-542)
__Due on 02/10/2020 @ 6:00 PM (10 + 2 points)__


## _Ankur Patel_

### 1. print 200

In [1]:
def proc(x):
    x = 2*x*x
    
def main():
    num = 10
    proc(num)
    print(num)
    
main()

10

In [8]:
def proc(x):
    x = 2*x*x
    return x
    
def main():
    num = 10
    proc(num)
    print(proc(num))
    
main()

200

### 2. distance

In [11]:
import math
def distance(X1, Y1, X2, Y2):
    return math.sqrt(((X1-X2)**2)+((Y1-Y2)**2))

In [12]:
distance(4,0,6,6)

6.324555320336759

### 3. numbers.txt

In [14]:
text = list(range(100))
with open('numbers.txt', 'w') as f:
    for i in text:
        f.write("%s\n" % i)

### 4. lst = [10,-4,11,29]

In [23]:
lst = [10,-4,11,29]
print("a. ", lst[0])
print("b. ", lst[-1])
print("c. ", lst[0])
print("d. ", lst[3])
print("e. ", lst[1])
print("f. ", lst[-1])
print("g. ", lst[-4])
print("h. illegal")
print("h. ", lst[3,0])

a.  10
b.  29
c.  10
d.  29
e.  -4
f.  29
g.  10
h. illegal

TypeError: list indices must be integers or slices, not tuple

### 5. lst = [20,1,-34,40,-8,60,1,3]

In [26]:
lst = [20,1,-34,40,-8,60,1,3]
print("a. ", lst[0])
print("b. ", lst[0:3])
print("c. ", lst[4:8])
print("d. ", lst[4:33])
print("e. ", lst[-5:-3])
print("f. ", lst[-22:3])
print("g. ", lst[4:])
print("h. ", lst[:])
print("i. ", lst[:4])
print("j. ", lst[1:5])
print("len(lst):", len(lst))

a.  20
b.  [20, 1, -34]
c.  [-8, 60, 1, 3]
d.  [-8, 60, 1, 3]
e.  [40, -8]
f.  [20, 1, -34]
g.  [-8, 60, 1, 3]
h.  [20, 1, -34, 40, -8, 60, 1, 3]
i.  [20, 1, -34, 40]
j.  [1, -34, 40, -8]
len(lst): 8

### 6. list

In [30]:
print("a. [8]*4 =", [8]*4)
print("b. 6*[2,7] =", 6*[2,7])
print("c. [1,2,3]+['a','b','c','d'] =", [1,2,3]+['a','b','c','d'])
print("d. 3*[1,2]+[4,2] =", 3*[1,2]+[4,2])
print("e. 3*([1,2]+[4,2]) =", 3*([1,2]+[4,2]))

a. [8]*4 = [8, 8, 8, 8]
b. 6*[2,7] = [2, 7, 2, 7, 2, 7, 2, 7, 2, 7, 2, 7]
c. [1,2,3]+['a','b','c','d'] = [1, 2, 3, 'a', 'b', 'c', 'd']
d. 3*[1,2]+[4,2] = [1, 2, 1, 2, 1, 2, 4, 2]
e. 3*([1,2]+[4,2]) = [1, 2, 4, 2, 1, 2, 4, 2, 1, 2, 4, 2]

### 7. five different lists

In [49]:
lst = [1,2,3,4,5,6,7,8,9,10]
print("1.\n", lst)
print("\n2.")
for i in range(1, 11): 
    print(i, end=" ")
print("\n\n3.")
for x in range(len(lst)): 
    print(lst[x], end=" ")
print("\n\n4.\n", *lst) 
print("\n5.\n", " ".join(map(str,lst)))

1.
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.
1 2 3 4 5 6 7 8 9 10

3.
1 2 3 4 5 6 7 8 9 10

4.
 1 2 3 4 5 6 7 8 9 10

5.
 1 2 3 4 5 6 7 8 9 10

### 8. tuple - list

In [58]:
print("List:")
a = ["apples", "bananas", "oranges"]
print(a)
a[0] = "orange"
print(a)

List:
['apples', 'bananas', 'oranges']
['orange', 'bananas', 'oranges']

In [59]:
print("Tuple:")
a = ("apples", "bananas", "oranges")
print(a)
a(0) = "orange"  #immutable, can't assign an element in tuple
print(a)

SyntaxError: can't assign to function call (<ipython-input-59-80b5038253a5>, line 4)

### 9. tuple - list

In [94]:
numberS = (1,2,'three')
numberZ = 4,5,6

print("Tuple:\nnumberS =", numberS, "\nnumberZ =", numberZ)
print("numberS[2] =", numberS[2])
print("numberS.index(2) =", numberS.index(2))

nums = [1,2,"three"]
print("\nList:\nnums =", nums)
print("nums[2] =", nums[2])
print("nums.index(2) =", nums.index(2))

Tuple:
numberS = (1, 2, 'three')
numberZ = (4, 5, 6)
numberS[2] = three
numberS.index(2) = 1

List:
nums = [1, 2, 'three']
nums[2] = three
nums.index(2) = 1

In [2]:
mytuple = ([1,2],[3,4],[5,6])
mytuple

([1, 2], [3, 4], [5, 6])

In [5]:
print(mytuple[0])
print(mytuple[0][0])

[1, 2]
1

In [7]:
mylist=[(1,2,3),(4,5,6)]
mylist

[(1, 2, 3), (4, 5, 6)]

In [8]:
print(mylist[0])
print(mylist[0][0])

(1, 2, 3)
1

### 10. product
#### _Extra Credit_

In [105]:
import numpy as np
def product(*args):
    return np.prod(args)

In [107]:
product(2.5,2,10.0)

50.0

In [108]:
product()

1.0